################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NeuralSpeak/FileContentIndex
/.vs/slnx.sqlite
/NeuralSpeak.web/NeuralSpeak.Web/obj
/NeuralSpeak.web/.vs/NeuralSpeak
/.vs/NeuralSpeak/v17/.wsuo
/.vs/NeuralSpeak/v17/workspaceFileList.bin
