<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<!-- Removes ASP.NET version header.  -->
		<httpRuntime enableVersionHeader="false" />
	</system.web>
	<system.webServer>
		<security>
			<!-- Removes Server header. -->
			<requestFiltering removeServerHeader="true" />
		</security>
		<httpProtocol>
			<customHeaders>
				<!-- Removes other unwanted headers. -->
				<clear />
				<remove name="X-Powered-By" />
				<!--<remove name="Server" />
				<remove name="X-AspNet-Version" />
				<remove name="X-AspNetMvc-Version" />-->
				<remove name="X-AspNetWebPages-Version" />
			</customHeaders>
			<redirectHeaders>
				<clear />
			</redirectHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>